@model IEnumerable<Book>

@{
    ViewData["Title"] = "Liste des livres";
}

<h1>Liste des livres</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Créer un nouveau livre</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Author)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifier</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Détails</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
    }
    </tbody>
</table>